.dirstamp
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
oci-custodia-hook
oci-custodia-hook.1
.deps/
custodiahook.o
oci_custodia_hook-custodiahook.o
build-aux/
config.h
config.h.in
stamp-*
*.gz
